@import "vars";

#program-head {
    margin: 10px 50px;
    color: $secondary-color;
}

.program-body {
    display: inline;

    .program {
        display: flex;
    }

    a:hover {
        text-decoration: underline $primary-color;
    }

}
