{% extends 'base.html.twig' %}
{% block title %}{{ program.title }}{% endblock %}
{% block body %}
    <h1>{{ program.title }}</h1>
    {% for season in seasons %}
        <a href="{{ path('wild_season', {'id': season.id}) }}">
        <h2>Season  {{ season.number }}</h2>
        </a>
    {% endfor %}
{% endblock %}
